.login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
.recover{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

ion-content.background{
    --background: #0267b1;
    
  }

ion-toolbar.background{
    --background:#0267b1;
}