<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" class="arrow-back" [routerLink]="['/home']"></ion-icon>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animate__animated animate__fadeInUp">
  <ion-card>
    
    <ion-card-content>
      <form [formGroup]="formuLogin">
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button class="login" (click)="login()">
        Ingresar
      </ion-button>
      <div>
      <a class="recover" [routerLink]="['/recoverpw']">Recuperar Contraseña</a>
      </div>  
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/register']">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
