.user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logout{
    font-size: 2rem;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
    padding-top: 10px;
}
.car{
    display: flex;
    justify-content: right;
    align-items: right;
}

