<app-header></app-header>

<ion-content [fullscreen]="true" class="background">
 
  <div class="image">
    <img class="animate__animated animate__backInUp" src="../../assets/img/auto.png" alt="">
  </div>
  <div class="animate__animated animate__fadeInUp" id="container">
    <strong class="crea">Crea tu Cuenta</strong>
  </div>
  <div id="container">
    <p><a class="hiper" href="register">Registrate</a></p>
  </div>
    <br>
    <br>
  <div id="container"> 
    <strong><a class="hiper" href="login">Login</a></strong>
  </div>  
  
 
</ion-content>
<app-footer></app-footer>
